// ids for this project specifically

#results-matching-traits {
    display: block;
}

#results-liked-by-sign {
    display: block;
}

#horoscope-show {
    display: none;
}

.h-20 {
    >img {
        height: 30%;
    }
}

.highlight-effect {
    position: relative;
}

.highlight-effect::before {
    background-color: hsl(241°, 69%, 78%);

    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.fancybutton {
    background-color: $bg-dark;
    color: $txt-light;
    text-decoration: none;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    width: 70%;
    cursor: pointer;
    text-align: center;
}

.project-name {
    padding: 0;
    padding-left: .5rem;
    margin-left: 1.5rem;
    font-size: 12pt;
    width: 80%;
    cursor: pointer;
    &:hover {
        background-color: #e1e1e1;
    }
}

.dashboard-box {
    min-height: 70vh;
}

.position-bottom {
    float: bottom;
}

@media screen and (max-width: 800px) {
    .h-auto-sm {
        height: auto;
    }    
}

.w-60 {
    width: 60%;
}

.grid-3x3 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.text-editor {
    min-height: 500px;
    max-width: 100%;
    margin: 0px;
    font-size: 12pt;
}

.highlight {
    padding: 0;
    background-color: rgb(111, 203, 228);
    color: $txt-dark;
}

.button-x {
    height: 20px;
    width: 20px;
    background-color: darken($bg-light, 10%);
    border: 1px black solid;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.docinfo {
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.smallbtn {
    width: 50%;
    height: 20%;
}

.h-auto {
    height: auto;
}

.h-150 {
    height: 150px;
}

.mh-20 {
    min-height: 20px;
}

.h-40 {
    height: 40px;
}

.hide {
    display: none;
}

.w-30 {
    width: 30px;
}

.h-30 {
    height: 30px;
}

.matchbuttons {
    height: auto;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

.fixbtn {
    height: 45px;
    border: none;
}