//@import 'basic/reset';
@import 'basic/color';
//@import 'basic/fonts';
@import 'basic/positions';
//@import 'basic/transitions';
//@import 'mixins';
@import 'borders';
//@import 'buttons';
@import 'badges';
//@import 'tables';
//@import 'forms';
//@import 'prebuilts';
@import 'thisproject';

.page-container {
    min-height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

.content-wrap {
    padding: 0;
    padding-bottom: 35px;
    margin: 0;
}


.no-img-style {
    border: none;
    margin: 0;
    border-radius: 0;
}

// Sizes and shapes
.h-100 {
    height: 100px;
}

.square {
    height: 100px;
    width: 100px;
    padding: inherit;
}

.blank-top {
    height: 30px;
}

// Color edits
.hidden-div {
    background-color: $main-color;
    display: none;
}


// Navbar, headers, footers




.items-right {
    position: relative;
    .right-holder {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 0;
    }
}

.item-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.nav-title {
    font-weight: 600;
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.nav-icon {
    display: none;
}

.stack-lg {
    display: flex;
}

// Media queries
@media screen and (max-width: 1200px) {
    .hide-lg {
        display: none;
    }
    .stack-lg {
        display: flex;
        flex-direction: column;

        >div:not(.keep-width) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
            width: 100%;
        }
        >div.keep-width {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
        }

        &.center-x {
            align-items: center;
        }
        &.align-left {
            align-items: start;
        }
        &.align-right {
            align-items: end;
        }
        &.center-y {
            justify-content: center;
        }
        &.align-top {
            justify-content: start;
        }
        &.align-bottom {
            justify-content: end;
        }
        &.stack-rv {
            flex-direction: column-reverse;
        }
        &.row-rv {
            flex-direction: row-reverse;
        }
    }
    .row-lg {
        display: flex;
        flex-direction: row;
        margin-left: 0 !important;
        margin-right: 0 !important;
        justify-content: center !important;
        width: 100%;


        &.center-x {
            justify-content: center;
        }
        &.align-left {
            justify-content: start;
        }
        &.align-right {
            justify-content: end;
        }
        &.center-y {
            align-items: center;
        }
        &.align-top {
            align-items: start;
        }
        &.align-bottom {
            align-items: end;
        }
    }
}

@media screen and (max-width: 950px) {
    .hide-md {
        display: none;
    }
    .wrap-md {
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        margin-bottom: 20px;
        column-gap: 10%;
        >li {
            display: inline-block;
        }
    }
    .stack-md {
        display: flex;
        flex-direction: column;

        >div:not(.keep-width) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
            width: 96%;
        }
        >div.keep-width {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
        }

        &.center-x {
            align-items: center;
        }
        &.align-left {
            align-items: start;
        }
        &.align-right {
            align-items: end;
        }
        &.center-y {
            justify-content: center;
        }
        &.align-top {
            justify-content: start;
        }
        &.align-bottom {
            justify-content: end;
        }
        &.stack-rv {
            flex-direction: column-reverse;
        }
        &.row-rv {
            flex-direction: row-reverse;
        }
    }
    .row-md {
        display: flex;
        flex-direction: row;
        margin-left: 0 !important;
        margin-right: 0 !important;
        justify-content: center !important;
        width: 100%;

        &.center-x {
            justify-content: center;
        }
        &.align-left {
            justify-content: start;
        }
        &.align-right {
            justify-content: end;
        }
        &.center-y {
            align-items: center;
        }
        &.align-top {
            align-items: start;
        }
        &.align-bottom {
            align-items: end;
        }
    }
}

@media screen and (max-width: 800px) {
    .hide-sm {
        display: none;
    }

    // navbar
    .navbar {
        justify-content: space-between;
        padding-top: 0;
        .nav-icon {
            display: block;
            width: auto;
            margin-right: 1.5rem;
        }
    }

    .navbar:not(.nav-responsive) p:not(:first-child) {
        display: none;
    }

    .navbar:not(.nav-responsive)>.item-holder>.right-holder {
        display: none;
    }

    .nav-responsive {
        &.nav-dark {
            background: linear-gradient($bg-dark 60px 61px, lighten($bg-dark, 5%) 61px 100%);
        }
        &.nav-light {
            background: linear-gradient(#f0f0f0 60px 61px, white 61px 100%);
        }
        height: min-content;
        >.item-holder {
            margin-top: -3.5px;
            flex-direction: column;
            align-items: start;
        }
        .nav-icon {
            margin-top: 1rem;
            font-size: 16pt;
            justify-self: right;
            align-self: start;
        } 
        p:not(:first-child) {
            display: flex;
            text-align: left;
        }
    }
    
    .stack-sm {
        display: flex;
        flex-direction: column;

        >div:not(.keep-width) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
            width: 100%;
        }
        >div.keep-width {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
        }

        >* {
            height: auto;
            min-height: 0;
        }

        &.center-x {
            align-items: center;
        }
        &.align-left {
            align-items: start;
        }
        &.align-right {
            align-items: end;
        }
        &.center-y {
            justify-content: center;
        }
        &.align-top {
            justify-content: start;
        }
        &.align-bottom {
            justify-content: end;
        }
        &.stack-rv {
            flex-direction: column-reverse;
        }
        &.row-rv {
            flex-direction: row-reverse;
        }
    }
    .row-sm {
        display: flex;
        flex-direction: row;
        margin-left: 0 !important;
        margin-right: 0 !important;
        justify-content: center !important;
        width: 100%;


        &.center-x {
            justify-content: center;
        }
        &.align-left {
            justify-content: start;
        }
        &.align-right {
            justify-content: end;
        }
        &.center-y {
            align-items: center;
        }
        &.align-top {
            align-items: start;
        }
        &.align-bottom {
            align-items: end;
        }
    }
}

@media screen and (max-width: 600px) {
    .hide-xs {
        display: none;
    }

    .stack-xs {
        display: flex;
        flex-direction: column;
        >div:not(.keep-width) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            justify-content: center !important;
            width: 100%;
        }

        >div:not(.keep-width) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
            width: 100%;
        }
        >div.keep-width {
            margin-left: 0 !important;
            margin-right: 0 !important;
            align-items: center !important;
        }
        >* {
            height: auto;
            min-height: 0;
        }

        &.center-x {
            align-items: center;
        }
        &.align-left {
            align-items: start;
        }
        &.align-right {
            align-items: end;
        }
        &.center-y {
            justify-content: center;
        }
        &.align-top {
            justify-content: start;
        }
        &.align-bottom {
            justify-content: end;
        }
        &.stack-rv {
            flex-direction: column-reverse;
        }
        &.row-rv {
            flex-direction: row-reverse;
        }
    }
    .row-xs {
        display: flex;
        flex-direction: row;
        margin-left: 0 !important;
        margin-right: 0 !important;
        justify-content: center !important;
        width: 100%;


        &.center-x {
            justify-content: center;
        }
        &.align-left {
            justify-content: start;
        }
        &.align-right {
            justify-content: end;
        }
        &.center-y {
            align-items: center;
        }
        &.align-top {
            align-items: start;
        }
        &.align-bottom {
            align-items: end;
        }
    }
}